@page
@model RagnarockApp.Pages.Exhibits.DeleteExhibitModel
@{
    ViewData["Title"] = "Delete Exhibit";
}

<h1>Delete Exhibit</h1>

<form class="form" method="post">

    <div class="form__group">
        <input type="submit" value="Delete" class="form_deleteBtn" />
    </div>
</form>
