@page
@model RagnarockApp.Pages.Exhibits.DeleteExhibitModel
@{
    ViewData["Title"] = "Delete Exhibit";
}
<div class="wrapper">

    <h1 class="form__header">Delete Exhibition</h1>
    <form class="form" method="post">

        <div class="form__group">
            <p class="form__text">Are you sure you want to delete this post?</p>
            <button type="submit" class="form__deleteBtn">Delete <i class="fa-solid fa-ban"></i></button>
        </div>
    </form>
</div>
