@page
@model RagnarockApp.Pages.Exhibits.DeleteExhibitModel
@{
}

<h1>Delete Exhibit</h1>

<form method="post">

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-warning btn-lg"</
    </div>
</form>
