
/* #region Form Styling */

/* Page Header */
.form__header {
    font-size: 24px;
    margin-bottom: 2em;
}
/* form styling */
.form {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    padding: 15px;
}
/* Form items */
.form__group {
    align-items: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
/* add styling for all inputs */

/* Form Labels - (text above) */
.form__label {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}
.form__label::after {
    content: ':';
}
/* Input Text Fields */
.form__text {
font-size: 24px;
}
/* #endregion */