/* Import css for GetAllExhibits page*/
@import url(_data.css);
/* Import css for Form pages - Create, Update & Delete */
@import url(_form.css);
/* import variables */
@import url(_variables.css);
/*  */
* {
font-family: var(--fontText);
font-weight: 300;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--fontHeader);
  font-weight: 700;
}