@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
     <section class="hero">
      <img
        class="hero__backgroundImage"
        src="https://picsum.photos/4000/2000"
        alt="Background"
      />
      <div class="hero__overlay">
        <h1>Ragnarock, Your museum companion - On the fly!</h1>
        <a asp-page="Exhibits/GetAllExhibits">
          <button class="hero__button">Enter Site</button>
        </a>
      </div>
    </section>
</body>