@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="wrapper">
    <section class="privacy">
        <div class="privacy__textContent">
        <article class="privacy__container">
            <h2 class="privacy__header">Lorem ipsum dolor sit amet.?</h2>
            <p class="privacy__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cupiditate obcaecati atque rem temporibus perspiciatis magnam maiores maxime totam accusantium quam exercitationem nihil autem, quidem iusto. Praesentium dolores explicabo at qui similique fugiat nisi nam expedita aspernatur! Iste, at. Itaque error eum assumenda! Labore delectus eveniet ab necessitatibus rem odit!</p>
        </article>
        <article class="privacy__container">
            <h2 class="privacy__header">Lorem ipsum dolor sit amet.?</h2>
            <p class="privacy__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cupiditate obcaecati atque rem temporibus perspiciatis magnam maiores maxime totam accusantium quam exercitationem nihil autem, quidem iusto. Praesentium dolores explicabo at qui similique fugiat nisi nam expedita aspernatur! Iste, at. Itaque error eum assumenda! Labore delectus eveniet ab necessitatibus rem odit!</p>
        </article>
        <article class="privacy__container">
            <h2 class="privacy__header">Lorem ipsum dolor sit amet.?</h2>
            <p class="privacy__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cupiditate obcaecati atque rem temporibus perspiciatis magnam maiores maxime totam accusantium quam exercitationem nihil autem, quidem iusto. Praesentium dolores explicabo at qui similique fugiat nisi nam expedita aspernatur! Iste, at. Itaque error eum assumenda! Labore delectus eveniet ab necessitatibus rem odit!</p>
        </article>
        </div>
